@import "tailwindcss"; 

.workshop-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 1rem;
}

.workshop-item {
    margin: 0.5rem 0rem;

}

.wcard-body {
    background: rgba(185, 185, 185, 0.8);
}